:root {
  /* aperture */
  --apblue: #70b8d4;
  --aporange: #f9b652;
  --apwhite: #cacaca;
  /* aperture */

  /* circa survive */
  --cswhite: #e6d9c2;
  --csred: #913939;
  /* circa survive */

  /* github */
  --ghdarkblue: #0e1117;
  --ghblack: #020409;
  --ghgrey: #232830;
  --ghwhite: #f2f6fc;
  --ghorange: #de8167;
  --ghblue: #426fe8;
  --ghgreen: #74b958;
  --ghoutline: #3f444d;
  /* github */

  /* discord */
  --blurple: #5865f2;
  --lightblurple: #e0e3ff;
  /* discord */

  /* twenty one pilots */
  --topred: #e35042;
  --topdarkred: #db2422;
  --topyellow: #fde200;
  /* twenty one pilots */
}
