:root {
  /* aperture */
  --apblue: #70b8d4;
  --aporange: #f9b652;
  --apwhite: #cacaca;
  /* aperture */

  /* circa survive */
  --cswhite: #e6d9c2;
  --red: #913939;
  /* circa survive */

  /* github */
  --ghdarkblue: #0e1117;
  --ghblack: #020409;
  --ghgrey: #232830;
  --ghwhite: #f2f6fc;
  --ghorange: #de8167;
  --ghblue: #426fe8;
  --ghgreen: #74b958;
  --ghoutline: #3f444d;
}
