* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--ghdarkblue);
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}
.parent {
  width: 100%;
  display: flex;
  justify-content: center;
}
.main {
  width: 600px;
  max-width: 90%;
  padding: 15px;
  background-color: #00000020;
  min-height: 100vh;
  max-height: fit-content;
}
.header {
  font-weight: bold;
  font-size: 28px;
}
.subheader {
  color: #dedede;
  font-size: 18px;
  margin: 10px 0 0 0;
  font-family: "Jetbrains Mono";
  font-weight: bold;
}
.links {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  text-transform: lowercase;
}
.link {
  color: var(--ghblue);
  font-weight: bold;
  text-decoration: none;
  font-size: 18px;
}
.content {
  font-size: 16px;
  color: #dedede;
}
.content a {
  color: var(--ghblue);
  text-decoration: none;
  font-weight: bold;
}
.content a:hover {
  text-decoration: underline;
}
