@font-face {
  font-family: "Bank Gothic Light";
  src: url("/fonts/bank-gothic/bank-gothic-light.otf");
}

@font-face {
  font-family: "Bank Gothic Medium";
  src: url("/fonts/bank-gothic/bank-gothic-medium.ttf");
}

@font-face {
  font-family: "Bank Gothic Bold";
  src: url("/fonts/bank-gothic/bank-gothic-bold.ttf");
}
