@font-face {
  font-family: "Minecraft Seven";
  src: url("/fonts/minecraft/Minecraft-Seven_v2.ttf");
}
@font-face {
  font-family: "Minecraft Regular";
  src: url("/fonts/minecraft/Minecraft-Seven_v2.ttf");
}
@font-face {
  font-family: "Minecraft Bold";
  src: url("/fonts/minecraft/minecraft-bold.otf");
}
@font-face {
  font-family: "Minecraft Italic";
  src: url("/fonts/minecraft/minecraft-italic.otf");
}
@font-face {
  font-family: "Minecraft Bold Italic";
  src: url("/fonts/minecraft/minecraft-bolditalic.otf");
}
@font-face {
  font-family: "Minecraft Mono";
  src: url("/fonts/minecraft/minecraft-mono.otf");
}
@font-face {
  font-family: "Minecraft Ten";
  src: url("/fonts/minecraft/Minecraft-Tenv2.ttf");
}
