@font-face {
  font-family: "Trajan Regular";
  src: url("/css/fonts/ttf/trajan-pro/TrajanPro-Regular.ttf");
}
@font-face {
  font-family: "Trajan Bold";
  src: url("/css/fonts/ttf/trajan-pro/TrajanPro-Bold.otf");
}
