@font-face {
    font-family: "Redaction";
    src: url("0/Redaction-Regular.otf");
}

@font-face {
    font-family: "Redaction Bold";
    src: url("0/Redaction-Bold.otf");
}

@font-face {
    font-family: "Redaction Italic";
    src: url("0/Redaction-Italic.otf");
}

@font-face {
    font-family: "Redaction 10";
    src: url("10/Redaction10-Regular.otf");
}

@font-face {
    font-family: "Redaction 10 Bold";
    src: url("10/Redaction10-Bold.otf");
}

@font-face {
    font-family: "Redaction 10 Italic";
    src: url("10/Redaction10-Italic.otf");
}

@font-face {
    font-family: "Redaction 20";
    src: url("20/Redaction20-Regular.otf");
}

@font-face {
    font-family: "Redaction 20 Bold";
    src: url("20/Redaction20-Bold.otf");
}

@font-face {
    font-family: "Redaction 20 Italic";
    src: url("20/Redaction20-Italic.otf");
}

@font-face {
    font-family: "Redaction 35";
    src: url("35/Redaction35-Regular.otf");
}

@font-face {
    font-family: "Redaction 35 Bold";
    src: url("35/Redaction35-Bold.otf");
}

@font-face {
    font-family: "Redaction 35 Italic";
    src: url("35/Redaction35-Italic.otf");
}

@font-face {
    font-family: "Redaction 50";
    src: url("50/Redaction50-Regular.otf");
}

@font-face {
    font-family: "Redaction 50 Bold";
    src: url("50/Redaction50-Bold.otf");
}

@font-face {
    font-family: "Redaction 50 Italic";
    src: url("50/Redaction50-Italic.otf");
}

@font-face {
    font-family: "Redaction 70";
    src: url("70/Redaction70-Regular.otf");
}

@font-face {
    font-family: "Redaction 70 Bold";
    src: url("70/Redaction70-Bold.otf");
}

@font-face {
    font-family: "Redaction 70 Italic";
    src: url("70/Redaction70-Italic.otf");
}

@font-face {
    font-family: "Redaction 100";
    src: url("100/Redaction100-Regular.otf");
}

@font-face {
    font-family: "Redaction 100 Bold";
    src: url("100/Redaction100-Bold.otf");
}

@font-face {
    font-family: "Redaction 100 Italic";
    src: url("100/Redaction100-Italic.otf");
}