@font-face {
  font-family: "Source Serif";
  src: url("/fonts/source-serif/source-serif.ttf");
}
@font-face {
  font-family: "Source Serif Italic";
  src: url("/fonts/source-serif/source-serif-italic.ttf");
}
